.hero {
  justify-content: center;
  align-content: center;
  //text-align: center;
  flex-direction: column;
  text-align: center;
  //padding-bottom: rem-calc(100);

  background-image: linear-gradient(to right, rgba(255,255,255, .6), rgba(255,255,255, .5)),  url("../../assets/img/board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: rem-calc(12) 0;

  & > * {
    @include breakpoint(xlarge) {
      @include xy-cell(75%);
      text-align: left;
    }
    
  }

  .cta__hero {
    //margin: 0 auto;  
    height: auto;
    @include xy-grid;
    margin-bottom: rem-calc(30);
    margin-top: rem-calc(6);
    justify-content: center;
    flex-direction: column;
    //width: 100%;

    button {
      margin-top: rem-calc(6);
      margin-bottom: rem-calc(6);
    }

    button a{
      width: 100%;
    }

    @include breakpoint(small only) {
      button:first-child {
        margin-bottom: rem-calc(50);
        // width: 100%;
      }
    }

    @include breakpoint(medium) {
      flex-direction: row;
      margin-top: rem-calc(5);
    
      button:first-child {
        margin-bottom: 0;
        margin-right: rem-calc(20);
      }
    }

    @include breakpoint(xlarge) {
      justify-content: flex-start;
    }    

  }

  .section__header {
    
    @include breakpoint(medium) {
      //margin-top: auto;
    }
  }

  h1 {
    margin-bottom: rem-calc(20);

  }
  
  h5 {
    margin-bottom: rem-calc(20);
  }
}

