

<div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<!-- 
 -->

<nav class="navigation" id="top-menu" data-animate="">
  <ul class="nav-list vertical large-horizontal xlarge-vertical menu" data-magellan data-responsive-menu="accordion" data-active-class="nav-active"  data-offset="-25">
    <li class="nav-item"><a href="#top" class="nav-link" alt="Link do menu Strony Głównej" title="Strona Główna">Strona Główna</a></li>
    <li class="nav-item"><a href="#page" class="nav-link" alt="Link do menu O Stronach" title="O Stronach">O Stronach</a></li>

    <!-- <li class="nav-item"><a href="#price" class="nav-link" alt="Link do menu Oferta" title="Oferta">Oferta</a></li> -->
    <li class="nav-item"><a href="#about" class="nav-link" alt="Link do menu O Mnie" title="O Mnie">O Mnie</a></li>
    <li class="nav-item"><a href="#contact" class="nav-link" alt="Link do menu Kontakt" title="Kontakt">Kontakt</a></li>
  </ul>
</nav>


