

<div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<!-- 
 -->

<nav class="navigation" id="top-menu" data-animate="">
  <ul class="nav-list vertical large-horizontal menu" data-magellan data-responsive-menu="accordion" data-active-class="nav-active"  data-offset="-25">
    <li class="nav-item"><a href="#top" class="nav-link" title="Strona Główna">Strona Główna</a></li>
    <li class="nav-item"><a href="#page" class="nav-link" title="O Stronach">O Stronach</a></li>

    <li class="nav-item"><a href="#price" class="nav-link" title="Oferta">Oferta</a></li>
    <li class="nav-item"><a href="#about" class="nav-link" title="O Firmie">O Firmie</a></li>
    <li class="nav-item"><a href="#contact" class="nav-link" title="Kontakt">Kontakt</a></li>
  </ul>
</nav>


