<div class="person">
  
  <h3>
    <ul class="person__list">
      <li class="person__item">R</li>
      <li class="person__item person__item--orange-bg">W</li>
      <li class="person__item">D</li>
    </ul>
  </h3>
  <h5>
    <ul class="person__list">
      <li class="person__item">S</li>
      <li class="person__item person__item--orange-tx">t</li>
      <li class="person__item">r</li>
      <li class="person__item person__item--orange-tx">o</li>
      <li class="person__item">n</li>
      <li class="person__item">y</li>
    </ul>
    <ul class="person__list">
      <li class="person__item">i</li>
      <li class="person__item">n</li>
      <li class="person__item person__item--orange-tx">t</li>
      <li class="person__item">e</li>
      <li class="person__item">r</li>
      <li class="person__item">n</li>
      <li class="person__item">e</li>
      <li class="person__item">t</li>
      <li class="person__item person__item--orange-tx">o</li>
      <li class="person__item person__item--orange-tx">w</li>
      <li class="person__item">e</li>
    </ul>
  </h5>
  <a href="http://rwd-stronyinternetowe.pl" class="link-cover" title="RWD Strony Internetowe"></a>
</div>