.section__header {
  @include xy-cell();
  @include xy-grid-container;
  padding: rem-calc(30) 0 rem-calc(20) ;
  margin: rem-calc(50) auto rem-calc(30);
  text-align: center;
  
  @include breakpoint(large) {
    margin: rem-calc(30) auto;
  }
}

address {
  font-style: normal;
}

// buttons
.btn {
  display: block;
  align-self: center;
  font-size: rem-calc(18);
  border-radius: 3px;
  box-shadow: 0 2px 10px 1px gray;
  padding: rem-calc(6) rem-calc(12);
  margin: rem-calc(5);
  color: $white;
  
  @include breakpoint(xlarge) {
    align-self: flex-start;
  }
  
  a {
    color: $white;
    text-decoration: none;
  }
}


.btn--orange {  
  background-color: $tertiary-color;

  &:hover, &:active, &:focus {
    background-color: darken($tertiary-color, 10%);
  }
}

.btn--blue {
  background-color: $secondary-color;

  &:hover, &:active, &:focus {
    background-color: darken($secondary-color, 10%);
  }
}

