.section__header {
  @include xy-cell();
  padding: rem-calc(30) 0 rem-calc(20) ;
  text-align: center;
  
  @include breakpoint(medium) {
    padding: rem-calc(40) 0;

  }
}

address {
  font-style: normal;
}
  
// container for .person & .navigation 
.case {
  height: 100%;
  width: 100%;
}

// buttons
.btn {
  display: block;
  align-self: center;
  font-size: rem-calc(18);
  border-radius: 3px;
  box-shadow: 0 2px 10px 1px gray;
  padding: rem-calc(12) rem-calc(6);
  margin: rem-calc(5);
  color: $white;
  
  @include breakpoint(xlarge) {
    align-self: flex-start;
  }
  
  a {
    color: $white;
    text-decoration: none;
  }
}


.btn--orange {  
  background-color: $tertiary-color;

  &:hover, &:active, &:focus {
    background-color: darken($tertiary-color, 10%);
  }
}

.btn--blue {
  background-color: $secondary-color;

  &:hover, &:active, &:focus {
    background-color: darken($secondary-color, 10%);
  }
}