/* advent-pro-regular - latin_latin-ext */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/advent-pro-v7-latin_latin-ext/advent-pro-v7-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Advent Pro Regular'), local('AdventPro-Regular'),
       url('../../assets/fonts/advent-pro-v7-latin_latin-ext/advent-pro-v7-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/advent-pro-v7-latin_latin-ext/advent-pro-v7-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/advent-pro-v7-latin_latin-ext/advent-pro-v7-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/advent-pro-v7-latin_latin-ext/advent-pro-v7-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/advent-pro-v7-latin_latin-ext/advent-pro-v7-latin_latin-ext-regular.svg#AdventPro') format('svg'); /* Legacy iOS */
};

/* roboto-slab-regular - latin_latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/roboto-slab-v7-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../../assets/fonts/roboto-slab-v7-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-slab-v7-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-slab-v7-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-slab-v7-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-slab-v7-latin_latin-ext-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
};