body {
  @include xy-grid;
  
}
.header {
  height: auto;
  width: 100%;
  @include xy-grid();
  display: none;
  //@include xy-grid-collapse;

  @include breakpoint(large) {
    display: block;
    position: fixed;
    z-index: 1000; 
  }
  
  @include breakpoint(xlarge) {
    width: 250px;
    height: 100vh;
  }
  
}

main {
  width: 100%;
  @include xy-grid-collapse;
  @include xy-grid;
  flex: 1;


  @include breakpoint(xlarge) {
    position: absolute;
    width: calc(100% - 250px);
    right: 0;
  }

  & > section {
    width: 100%;
  }
}

.hero {
  @include xy-grid;
  
  @include breakpoint(medium) {
    min-height: 100vh;
  }
}

.info,
.page,
.quality,
.price,
.about,
.contact {
  @include xy-grid; 
  
  @include breakpoint(medium) {
    margin-top: rem-calc(50); 
  }
}


.quality {
  @include xy-cell();
}

.footer {
  width: 100%;
}