body {
  @include xy-grid;
  
}
.header {
  height: auto;
  width: 100%;
  //@include xy-grid();
  position: fixed;


  // @include breakpoint(large) {
  //   display: block;
  //   position: fixed;
  //   z-index: 1000; 
  // }
  
  // @include breakpoint(xlarge) {
  //   width: 250px;
  //   height: 100vh;
  // }
  
}

main {
  width: 100%;
  @include xy-grid-collapse;
  @include xy-grid;
  flex: 1;
  margin: 0 auto;


  // & > section {
  //   max-width: rem-calc(960);
  // }
}

.hero {
  @include xy-grid;
  width: 100%;
  
  @include breakpoint(medium) {
    min-height: 100vh;
  }
}

.info,
.page,
.quality,
.price,
.about,
.contact {
  @include xy-grid; 
}

.footer {
  width: 100%;
}