<header class="section__header">
  <{{section-heading}}>
    Cennik
  </{{section-heading}}>
</header>

<section class="prices">  

  <section class="prices__container" data-magellan data-responsive-menu="accordion">
    <article class="box">
      <h4>Szyte na miarę</h4>
      <p>Oczywiście nie mogę żądać 5-6 tyś. Usługa jest dostępna za dużo mniej. W zależności jaka to strona</p>
      <p class="service-price">Od <span class="bold">1.000</span> + VAT</p>
      <span class="btn btn--orange">
        <a href="#contact" title="Kontakt">TAK, dopasuj do mnie</a>
      </span>
    </article>
  
    <article class="box">
      <h4>Poprawki</h4>
      <p>W zależności od zmian</p>
      <p class="service-price">Od <span class="bold">100</span> do kilkuset zł</p>
      <span class="btn btn--orange">
          <a href="#contact" title="Kontakt">TAK, poprawiam tu i tam</a>
      </span>
    </article>
  
    <article class="box">
      <h4>Zlecenia stałe</h4>
      <p>W zależności od od częstotliwości</p>
      <p class="service-price">Od <span class="bold">50</span> zł jednorazowo do <span class="bold">100-300</span> zł miesięcznie, jeżeli zmiany będą cykliczne</p>
      <span class="btn btn--orange">
        <a href="#contact" title="Kontakt">TAK, często zmieniam</a>
      </span>
    </article>
  </section>

</section>