<header class="section__header">
  <{{section-heading}}>
    Cennik
  </{{section-heading}}>
</header>

<section class="prices">  

  <section class="prices__container" data-magellan data-responsive-menu="accordion">
    <article class="box">
      <h4>Szyte na miarę</h4>
      <p>Oczywiście nie mogę żądać 5-6 tyś. Usługa jest dostępna za dużo mniej. W zależności jaka to strona</p>
      <p class="service-price">Od <strong>1.000</strong> + VAT</p>
      <a href="#contact" class="btn--orange" title="Kontakt">TAK, dopasuj do mnie</a>
    </article>
  
    <article class="box" data-magellan data-responsive-menu="accordion">
      <h4>Poprawki</h4>
      <p>W zależności od zmian</p>
      <p class="service-price">Od <strong>100</strong> do kilkuset zł</p>
      <a href="#contact" class="btn--orange" title="Kontakt">TAK, poprawiam tu i tam</a>
    </article>
  
    <article class="box" data-magellan data-responsive-menu="accordion" >
      <h4>Zlecenia stałe</h4>
      <p>W zależności od od częstotliwości</p>
      <p class="service-price">Od <strong>50</strong> zł jednorazowo do <strong>100-300</strong> zł miesięcznie, jeżeli zmiany będą cykliczne</p>
      <a href="#contact" class="btn--orange" title="Kontakt">TAK, często zmieniam</a>
    </article>
  </section>

</section>