<header class="section__header">
  <{{section-heading}}>
    Cennik
  </{{section-heading}}>
</header>

<section class="prices">  

  <section class="prices__container" data-magellan data-responsive-menu="accordion">
    <article class="box" itemscope itemtype="http://schema.org/Article">
      <h4><span itemprop="name">Szyte na miarę</span></h4>
      <p><span itemprop="articleBody">Oczywiście nie mogę żądać 5-6 tyś. Usługa jest dostępna za dużo mniej. W zależności jaka to strona</span></p>
      <p class="service-price">Od <span class="bold">1.000</span> + VAT</p>
      <button class="btn btn--orange">
        <a href="#contact" title="Kontakt">TAK, dopasuj do mnie</a>
      </button>
    </article>
  
    <article class="box" itemscope itemtype="http://schema.org/Article">
      <h4><span itemprop="name">Poprawki</span></h4>
      <p><span itemprop="articleBody">W zależności od zmian</span></p>
      <p class="service-price">Od <span class="bold">100</span> do kilkuset zł</p>
      <button class="btn btn--orange">
          <a href="#contact" title="Kontakt">TAK, poprawiam tu i tam</a>
      </button>
    </article>
  
    <article class="box" itemscope itemtype="http://schema.org/Article">
      <h4><span itemprop="name">Zlecenia stałe</span></h4>
      <p><span itemprop="articleBody">W zależności od od częstotliwości</span></p>
      <p class="service-price">Od <span class="bold">50</span> zł jednorazowo do <span class="bold">100-300</span> zł miesięcznie, jeżeli zmiany będą cykliczne</p>
      <button class="btn btn--orange">
        <a href="#contact" title="Kontakt">TAK, często zmieniam</a>
      </button>
    </article>
  </section>

</section>