<header class="section__header">
  <{{section-heading}}>
    Usługi
  </{{section-heading}}>
</header>

<section class="services__text">
  <p>Strona WWW jest jak garnitur. Aby dobrze wyglądała, musi być uszyta na miarę, czyli pod Twój konkretny biznes. W tym celu, proces produkcji trzeba rozłożyć na kilka etapów</p>
</section>

<section class="services">



  <section class="services__container">
    <article class="box" itemscope itemtype="http://schema.org/Article">
      <h4>Etap <span>1</span></h4>
      <h5 itemprop="name">Research <span>(35% czasu)</span></h5>

      <p><span itemprop="articleBody">Analiza potrzeb klienta, jego produktów i produktów jego konkurencji</span></p>
      <ul>
        <li>Kim jesteś?</li>
        <li>Czym się zajmujesz?</li>
        <li>Jacy klienci są Twoją grupą docelową?</li>
        <li>Jakie są Twoje cele?</li>
        <li>Co zrobić, by mieć przewagę nad konkurencją?</li>
      </ul>
    </article>

    <article class="box" itemscope itemtype="http://schema.org/Article">
      <h4>Etap <span>2</span></h4>
      <h5 itemprop="name">UX/UI Design <span>(25% czasu)</span></h5>

      <p><span itemprop="articleBody">Preferencje i wygląd</span></p>
      <ul>
        <li>Kolorystyka</li>
        <li>Funkcjonalność</li>
        <li>Typografia (czcionki)</li>
      </ul>
    </article>

    <article class="box" itemscope itemtype="http://schema.org/Article">
      <h4>Etap <span>3</span></h4>
      <h5 itemprop="name">Development <span>(35% czasu)</span></h5>

      <p><span itemprop="articleBody">Programowanie</span></p>
      <ul>
        <li>Połączenie dwóch poprzednich kroków i przełożenie ich na język programowania</li>
        <li>Testowanie finalnego produktu</li>
      </ul>

    </article>

    <article class="box" itemscope itemtype="http://schema.org/Article">
      <h4>Etap <span>4</span></h4>
      <h5 itemprop="name">Wdrażanie i Hosting <span>(5% czasu)</span></h5>

      <ul>
        <li>Pomoc w przesłaniu strony WWW na serwer</li>
        <li>Pomoc przy zakupie domeny i serwera</li>
      </ul>

    </article>

  </section>

</section>