<div class="services">

  <h3>Usługi</h3>
  <p>Strona WWW jest jak garnitur. Aby dobrze wyglądała, musi być uszyta na miarę, czyli pod Twój biznes</p>
  <p class="">W tym celu, proces produkcji trzeba rozłożyć na kilka etapów</p>

  <div class="services__container">
    <div class="box">
      <h4>Etap <span>1</span></h4>
      <h5>Research <span>(35% czasu)</span></h5>

      <p>Analiza potrzeb klienta, jego produktów i produktów jego konkurencji</p>
      <ul>
        <li>Kim jesteś?</li>
        <li>Czym się zajmujesz?</li>
        <li>Jacy klienci są Twoją grupą docelową?</li>
        <li>Jakie są Twoje cele?</li>
      </ul>
    </div>

    <div class="box">
      <h4>Etap <span>2</span></h4>
      <h5>UX/UI Design <span>(25% czasu)</span></h5>

      <p>Preferencje i wygląd</p>
      <ul>
        <li>Kolorystyka</li>
        <li>Funkcjonalność</li>
        <li>Typografia (czcionki)</li>
      </ul>
    </div>

    <div class="box">
      <h4>Etap <span>3</span></h4>
      <h5>Development <span>(35% czasu)</span></h5>

      <p>Programowanie</p>
      <ul>
        <li>Połączenie dwóch poprzednich kroków i przełożenie ich na język programowania</li>
        <li>Testowanie finalnego produktu</li>
      </ul>

    </div>

    <div class="box">
      <h4>Etap <span>4</span></h4>
      <h5>Wdrażanie i Hosting <span>(5% czasu)</span></h5>

      <p>Finalizacja zamówienia</p>
      <ul>
        <li>Pomoc w przesłaniu strony WWW na serwer</li>
        <li>Pomoc przy zakupie domeny i serwera</li>
      </ul>

    </div>

  </div>

</div>