<div class="social-media">

  <a href="https://github.com/PawelGozdz" target="_blank">
    <svg class="social__icon" aria-labeledby="info__dyn-title info__dyn-desc">
        <title id="info__dyn-title">GitHub</title>
        <desc id="info__dyn-desc">GitHub Fanpage</desc>
        <use xlink:href="../../assets/img/collection-SVG-sprite.svg#github-logo">
    </svg>
  </a>

  <a href="https://www.facebook.com/RWD-Strony-Internetowe-166162234067461/" target="_blank"</a>
    <svg class="social__icon" aria-labeledby="info__dyn-title info__dyn-desc">
        <title id="info__dyn-title">Facebook</title>
        <desc id="info__dyn-desc">Facebook Fanpage</desc>
        <use xlink:href="../../assets/img/collection-SVG-sprite.svg#facebook-logo">
    </svg>
  </a>
</div>
<p>
  <span>2018 © <a itemprop="url" href="http://rwd-stronyinternetowe.pl">rwd-stronyinternetowe.pl</a></span> |
  <span>Strony internetowe | Landing Page | Projektowanie UX | Pozycjonowanie | Sklepy internetowe - wkrótce</span>
  <p>Starachowice | Skarżysko Kamienna | Ostrowiec Świętokrzyski | Kielce | Radom | Suchedniów | Kałków | Lubienia | Mirzec | Iłża | Kałków</p>
</p>