<div class="social-media">

  <a href="https://github.com/PawelGozdz" target="_blank">
    <svg class="social__icon">
        <use href="../../assets/img/collection-SVG-sprite.svg#github-logo">
    </svg>
  </a>

  <a href="https://www.facebook.com/RWD-Strony-Internetowe-166162234067461/" target="_blank">
    <svg class="social__icon">
        <use href="../../assets/img/collection-SVG-sprite.svg#facebook-logo">
    </svg>
  </a>
</div>
<div>
  2018 © <a href="http://rwd-stronyinternetowe.pl">rwd-stronyinternetowe.pl</a> |
  <span>Strony internetowe | Landing Page | Projektowanie UX | Pozycjonowanie | Sklepy internetowe - wkrótce</span>
  <p>Starachowice | Skarżysko Kamienna | Ostrowiec Świętokrzyski | Kielce | Radom | Suchedniów | Kałków | Lubienia | Mirzec | Iłża | Kałków</p>
</div>