.about {
  width: 100%;
  font-family: 'Advent Pro', sans-serif;
  //font-family: 'Marmelad', sans-serif;
  
  & > h5 {
    font-family: 'Advent Pro', sans-serif;
    margin-bottom: rem-calc(30);
    @include xy-cell();

  }

  &__wrapper {
    background-image: linear-gradient(rgba(rgb(45, 119, 209), .75), rgba($primary-color, .9)), url("../../assets/img/shape.jpg");
    width: 100%;
  }
  
  &__container {
    @include xy-grid;
    color: $white;
    background-position: center;
    background-size: cover;
    padding: rem-calc(20) 0;

  }
 
  &__box {
    @include xy-cell();
    background: transparent;
    color: $white;
    //width: 300px;
    //min-width: 215px;
    margin:  auto;
    padding: rem-calc(15) rem-calc(4);
    border-top-left-radius: rem-calc(6);
    border-top-right-radius: rem-calc(6);
    overflow: hidden;
    box-shadow: 0 0 8px 2px rgba($white, .15);

    @include breakpoint(medium) {
      padding: rem-calc(15) rem-calc(12);
    }
    
    @include breakpoint(large) {
     //@include xy-cell(1 / 2);
      max-width: rem-calc(350);
    }

    h5 span {
      display: block;
      margin: rem-calc(2) 0;
    }

    & > h3 {
      
      padding: rem-calc(14) rem-calc(3);
      margin-bottom: rem-calc(30);
      font-family: 'Advent Pro', sans-serif;
    }
  }

  &__me {
    margin-bottom: rem-calc(20);
  }

  p {
    text-align: justify;
    font-size: rem-calc(17);
  }

}

.like {
  // background: $light-gray;
  // color: $primary-color;
  padding:  rem-calc(3) rem-calc(3) 0 rem-calc(3);
  margin-right: 5px;
  
}
.image {
  width: rem-calc(150);
  padding: rem-calc(15);
  height: auto;
  margin: 0 auto;
  
  img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid $primary-color;
  }
}