
<header class="section__header">
  <hgroup>
    <h1>Nowoczesne Strony WWW Na Wszystkie Urządzenia</h1>
    <h5>Zaprojektowane Specialnie Dla Ciebie i Twojego Biznesu</h5>
  </hgroup>
</header>
<section class="cta cta__hero">

  <button class="" data-magellan data-responsive-menu="accordion"><a href="#page" class="btn--blue" title="Więcej">Chcę się dowiedzieć więcej</a></button>
  <button class="" data-magellan data-responsive-menu="accordion"><a href="#contact" class="btn--orange" title="Kontakt ">Skontaktuj się</a></button>
</section>