<header class="section__header">
  <{{section-heading}}>
    O Firmie
  </{{section-heading}}>
</header>

<section class="about__wrapper">
  <div class="about__container">
    <article class="about__me about__box">
      <{{article-heading-small}}>Cześć!</{{article-heading-small}}>
      <p>
        "RWD Strony Internetowe" to niewielka firma znajdująca się w Starachowicach, która zajmuje się tworzeniem interaktywnych i nowoczesnych stron internetowych w oparciu o najnowsze technologie dostępne na rynku.
      </p>
      <p>Nasz wachlarz oferowanych usług to:</p>
      <ul>
        <li>Strony internetowe</li>
        <li>Landing Page</li>
        <li>Projektowanie UX</li>
        <li>Pozycjonowanie</li>
        <li>Sklepy internetowe - <strong>wkrótce</strong></li>
      </ul>
  
      
    </article>
    
    <article class="about__why-me about__box">
      <{{article-heading-small}}>Dlaczego My?</{{article-heading-small}}>
      <ul>
        <li>Profesjonalizm i uczciwość są dla nas bardzo ważne</li>
        <li>Zapewniamy nieodpłatną i nieograniczoną pomoc</li>
        <li>Idealnie wyglądające strony na telefonach, tabletach i komputerach</li>
        <li>Zadowolenie klienta jest naszym sukcesem</li>
        <li>Grzebanie w stronach WWW sprawia nam wiele frajdy. Jeżeli masz problem ze swoją, z przyjemnością Ci pomożemy</li>
        <li>Jestem komunikatywni i otwarci</li>
        <li>Na bieżąco rozmawiamy, omawiamy szczegóły dostosowujemy stronę WWW do potrzeb klienta</li>
        <li>Mieszkamy i pracujemy w Starachowicach. Czy nie fajnie byłoby mieć kogoś takiego pod ręką?</li>
        <li>Za cel stawiamy sobie ciągły rozwój i wysokiej jakości pracę</li>
      </ul>
    
    </article>
  </div>
</section>