<h3>O Mnie </h3>

<div class="about__container">
  <div class="about__me about__box">
      <div class="image">
          <img src="../../assets/img/pawel-gozdz.jpg" alt="Moje zdjęcie">
        </div>
    <h3>Cześć!</h3>
    <p>Na imię mam Paweł.</p>
    <p>
      Jestem Freelancerem i tworzę interaktywne strony internetowe, które pomagają innym w rozwijaniu ich biznesów.
    </p>
    <p>W kwietniu tego roku po 10 latach pracy w Anglii wróciłem do Polski. Od teraz chcę przełożyć swoją pasję do tworzenia stron w pełnoetatowe zajęcie.</p>
    <span class="like">Interesuję się:</span><span>książkami, programowaniem, aktywnością fizyczną, psychologią, szperaniem w Googlach, zwiedzaniem i grilowaniem. Do tego dużo myślę i filozofuję (tak twierdzą znajomi).</span>
    
  </div>
  
  <div class="about__why-me about__box">
    <h3>Dlaczego Ja?</h3>
    <ul>
      <li>Profesjonalizm i uczciwość są dla mnie bardzo ważne</li>
      <li>Zapewniam nieodpłatną i nieograniczoną pomoc</li>
      <li>Zadowolenie klienta jest moim sukcesem</li>
      <li>Grzebanie w stronach WWW sprawia mi wiele frajdy. Jeżeli masz problem ze swoją, z przyjemnością Ci pomogę</li>
      <li>Jestem osobą komunikatywną i otwartą</li>
      <li>Mieszkam i pracuję w Starachowicach. Czy nie fajnie byłoby mieć kogoś takiego pod ręką?</li>
      <li>Za cel stawiam sobie ciągły rozwój i wysokiej jakości pracę</li>
    </ul>
  
  </div>
</div>