.contact {
  width: 100%;
  background-image: linear-gradient($white, rgba($secondary-color, .1), rgba($secondary-color, .3));
  padding-bottom: rem-calc(40);

  & > h3 {
    @include xy-cell();
  }

  .form__container {
    width: 90%;
    margin: rem-calc(30) auto;
    padding: rem-calc(22) rem-calc(6);
    background: $light-gray;
    border-radius: 5px;
    background-image: linear-gradient($light-gray);
    box-shadow: 0 0 40px rgba($dark-gray, .4);

    @include breakpoint(medium) {
      max-width: rem-calc(730);
    }
  }
  
  &__form {
    @include xy-grid;
    flex-direction: column;
  }

  .field-container {
    @include xy-grid;
    
    label {
      @include xy-cell(40%);
      color: $primary-color;

      @include breakpoint(medium) {
        @include xy-cell(20%);
      }
    }
    input,
    select {
      @include xy-cell(60%);
      color: $primary-color;

      @include breakpoint(medium) {
        @include xy-cell(80%);
      }

      &:active,
      &:focus,
      &:hover {
        border: 1px solid $primary-color;
        background-color: rgba($primary-color, .1);
      }

    }
    textarea {
      @include xy-cell();
      color: $primary-color;

      &:active,
      &:focus,
      &:hover {
        border: 1px solid $primary-color;
        background-color: rgba($primary-color, .1);
      }
    }
    .btn--orange {
      width: 150px;
      margin: auto;
      color: $white;

      &:active,
      &:focus,
      &:hover {
        @extend .btn--orange;
        border: 1px solid transparent;
      }
    }
  }
}