.contact {
  width: 100%;
  background-image: linear-gradient(rgba($white, .8), rgba($white, .95)) ,url(../img/map.jpg);
  background-position: center center;
  background-attachment: fixed;
  //padding-bottom: rem-calc(40);
  margin-top: 0;

 &__container {
  @include xy-grid;
  @include xy-cell();
  padding-bottom: rem-calc(60);
  @include xy-grid-container;

 }  

 &__article {
  text-align: center;
  @include xy-cell();

  &:not(:last-child) {
    margin-bottom: rem-calc(20);
  }

  @include breakpoint(medium) {
  @include xy-cell(1 / 3);
  margin-bottom: rem-calc(20);
  }
 }

 &__title {
    font-size: rem-calc(20);
    @include font-bold();
    margin: rem-calc(12) 0 rem-calc(20);
    

    a {
      display: inline-block;
      margin: rem-calc(2);
      text-decoration: none;

      span {
        display: block;
        margin: rem-calc(4);
      }
    }
  }

  &__icon {
    padding: rem-calc(30) 0;
    fill: red;

    img {
      width: rem-calc(40);
    }
  }
  
  time {
    display: block;
  }

  &__title +  * {
    display: block;
    
    span { 
      display: inline-block;
      margin: rem-calc(5) rem-calc(3);
      
    }

    a span{
      text-decoration: underline;
    }
  }


}
.map {
  width: 100%;
  height: rem-calc(200);

  &__frame {
    height: 100%;
    width: 100%;
    border: 0;
  }
}
a {
  text-decoration: underline;
}