.prices {
  margin-bottom: 0;
  margin-top: 0;
  //width: 100%;
  
  & > h3 {
    @include xy-cell();
    margin-bottom: rem-calc(30);
  }

  &__container {
    @include padding(1,0,0,0);
    @include xy-grid;
    margin-bottom: rem-calc(10);
    background-image: linear-gradient(rgba($white, .95), rgba($white, .95)), url("../../assets/img/sketch.jpg");
    background-position: center;
    background-size: cover;
  }

  .box {
    @include xy-cell();
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //min-height: rem-calc(250);
    height: auto;
    
    @include breakpoint(large) {
      @include xy-cell(1 / 3);

    }

    p {
      margin: 2px;
    }

    h4 {
      background-color: $secondary-color;
      color: $white;
      padding: 4px 4px;
      border-left: 5px solid $primary-color;
      margin: 4px;

      span {
        display: block;
      }
    }

    button {
      margin: rem-calc(20) auto ;
      text-align: center;
    }

    a {
      //margin: 0 auto rem-calc(30);
//width: auto;

      @include breakpoint(large) {
        width: auto; 
        font-size: 16px;
      }
    }
  }
}

.service-price {
  margin-top: auto;
  
}
.close-button {
  background-color: $primary-color;
  color: $white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
}