.prices {
  margin-bottom: 0;
  margin-top: 0;
  //width: 100%;
  
  & > h3 {
    @include xy-cell();
    margin-bottom: rem-calc(30);
  }

  &__container {
    padding-top: rem-calc(35);
    @include xy-grid;
    margin-bottom: rem-calc(10);
    background-image: linear-gradient(rgba($white, .95), rgba($white, .95)), url("../../assets/img/sketch.jpg");
    background-position: center;
    background-size: cover;
  }

  .box {
    @include xy-cell();
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //min-height: rem-calc(250);
    height: auto;
    
    @include breakpoint(large) {
      @include xy-cell(1 / 3);

    }

    p {
      margin: 2px;
    }

    h4 {
      background-color: $secondary-color;
      color: $white;
      padding: rem-calc(4) rem-calc(4);
      border-left: rem-calc(5) solid $primary-color;
      margin: rem-calc(4);

      span {
        display: block;
      }
    }

    button {
      margin: rem-calc(20) auto ;
      text-align: center;
    }

    a {
      //margin: 0 auto rem-calc(30);
//width: auto;

      @include breakpoint(large) {
        width: auto; 
        font-size: rem-calc(16);
      }
    }
  }
}

.service-price {
  margin-top: auto;
  
}
.close-button {
  background-color: $primary-color;
  color: $white;
  height: rem-calc(40);
  width: rem-calc(40);
  border-radius: 50%;
  padding: rem-calc(5);
}