.info {
  text-align: center;
  padding-top: rem-calc(16);
  margin-top: rem-calc(30);
  background-color: rgba($light-gray, .3);

  &__icon {
    height: rem-calc(65);
    width: 100%;

    @include breakpoint(xlarge) {
      height: rem-calc(85);
    }
  }
}

.box {
  @include xy-cell();
  margin-bottom: rem-calc(20);

  @include breakpoint(small only) {
    &:not(:last-child) {
      border-bottom: 1px solid $medium-gray;
    }
  }
  
  
  @include breakpoint(medium large only) {
    @include xy-cell(1/2);
    border-bottom: 1px solid $medium-gray;
  }

  @include breakpoint(xlarge) {
    @include xy-cell(1/4);
    border-bottom: 0;
    
    &:not(:last-child) {
      border-right: 1px solid $medium-gray;
    }

  }

  h5 {
    margin: rem-calc(8) 0;

    @include breakpoint(xlarge) {
      font-size: rem-calc(20);
    }

    @include breakpoint(xxlarge) {
      font-size: rem-calc(26);
    }

    span {
      display: inline-block;
      margin: rem-calc(4) rem-calc(3);
    }

  }

  p {
    padding: rem-calc(5);

    span {
      display: inline-block;
      margin: rem-calc(4) rem-calc(3);
      padding: rem-calc(2);
    }
  }
}