.page {
  

}

.graph {

  @include xy-grid;
  justify-content: center;
  @include xy-grid-container;

  &__section {
    @include xy-grid;
    height: auto;
    margin-top: rem-calc(30);
    width: 100%;
    justify-content: center;
  }

  &__section--half {
    //@include xy-cell();
    @include xy-grid-collapse;
    width: 100%;
  }

  &__section--full {
    //@include xy-cell();
    @include xy-grid-collapse;
    width: 100%;
  }

  &__text {
    background-image: linear-gradient(rgba($light-gray, .4), rgba($light-gray, 0));
    padding: rem-calc(6);
    width: 100%;

    @include breakpoint(large) {
      padding: 8px 8px;
    } 
  }

  &:last-child {
    text-align: center;
  }

  &__box {
    max-height: 100%;
    @include xy-grid;
    flex-direction: column;
    @include xy-cell();
    

    @include breakpoint(large) {
      @include xy-cell(1/2);
    }

    img {
      max-width:100%;
      max-height:100%;
      object-fit: contain;
    }
  }

  figcaption {
    text-align: center;
    margin: rem-calc(20) 0;
    color: lighten($dark-gray, 50%);
    @include xy-cell();

    @include breakpoint(medium) {
      text-align: right;
    }

    span {
      display: inline-block;
      padding: 2px 3px;
      margin: 4px 2px;
    }
  }

  button {
    align-self: center;
    margin-bottom: rem-calc(20);
    
    @include breakpoint(medium) {
      margin-bottom: rem-calc(30);
    }
  }
}

.bold {
  @include font-bold;
  margin: rem-calc(2) rem-calc(3);
}

.message {
  @include xy-cell();
  background: rgba(tomato, .2);
  text-align: center;
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(10);
  padding: rem-calc(6);
  border: 2px solid tomato;
  
  @include breakpoint(large) {
    margin-top: rem-calc(30);
  }


}

// popup window

.bigger {
  width: 150%;
  height: auto;

  @include breakpoint(large) {
    width: 60%;
  }
}