
<section class="info">

  <article class="box" title="Szybkość">
    <svg class="info__icon">
      <use href="../../assets/img/collection-SVG-sprite.svg#computer"></use>
    </svg>
    <{{article-heading-small}}>
      Szybkość
    </{{article-heading-small}}>
    <p><strong>53%</strong> odwiedzających strony, rezygnuje z niej, gdy ta ładuje się dłużej niż <strong>3s</strong>. Zaoszczędzone <strong>0.1s</strong> ,to potencialny wzrost sprzedaży o <strong>1.1%</strong>.</p>
  </article>

  <article class="box">
    <svg class="info__icon">
      <use href="../../assets/img/collection-SVG-sprite.svg#computer-1"></use>
    </svg>
    <{{article-heading-small}}>
      Responsywność
    </{{article-heading-small}}>
    <p>Responsywna strona to taka, która idealnie wygląda na komputerach stacjonarnych, tabletach i telefonach komórkowych</p>
  </article>

  <article class="box">
    <svg class="info__icon">
      <use href="../../assets/img/collection-SVG-sprite.svg#computer-2"></use>
    </svg>
    <{{article-heading-small}}>
      Użyteczność
    </{{article-heading-small}}>
    <p>Intuicyjność, skuteczność, kolorystyka i wygoda. Za sukcesem strony WWW stoją badania nad zachowaniem i preferencjami użytkowników.</p>
  </article>


  <article class="box">
    <svg class="info__icon">
      <use href="../../assets/img/collection-SVG-sprite.svg#arrows"></use>
    </svg>
    <{{article-heading-small}}>
      Dynamiczność
    </{{article-heading-small}}>
    <p>Interaktywna i żywo reagująca na działania użytkownika</p>
  </article>
  
</section>