
<section class="info">

  <article class="box" title="Szybkość" itemscope itemtype="http://schema.org/Article">
    <svg class="info__icon" aria-labeledby="info__szybkosc-title info__desc" role="group">
      <title id="info__szybkosc-title">Szybkość</title>
      <desc id="info__szybkosc-desc">Szybkość strony</desc>
      <use xlink:href="../../assets/img/collection-SVG-sprite.svg#computer" >
    </svg>
    <{{article-heading-small}}>
      <span itemprop="name">Szybkość</span> 
    </{{article-heading-small}}>
    <p><span itemprop="articleBody"><strong>53%</strong> odwiedzających strony, rezygnuje z niej, gdy ta ładuje się dłużej niż <strong>3s</strong>. Zaoszczędzone <strong>0.1s</strong> ,to potencialny wzrost sprzedaży o <strong>1.1%</strong>.</span></p>
  </article>

  <article class="box" itemscope itemtype="http://schema.org/Article">
    <svg class="info__icon" aria-labeledby="info__resp-title info__resp-desc" role="group">
      <title id="info__resp-title">Responsywność</title>
      <desc id="info__resp-desc">Responsywność strony</desc>
      <use xlink:href="../../assets/img/collection-SVG-sprite.svg#computer-1
      ">
    </svg>
    <{{article-heading-small}}>
      <span itemprop="name">Responsywność</span>
    </{{article-heading-small}}>
    <p><span itemprop="articleBody">Responsywna strona to taka, która idealnie wygląda na komputerach stacjonarnych, tabletach i telefonach komórkowych</span></p>
  </article>

  <article class="box" itemscope itemtype="http://schema.org/Article">
    <svg class="info__icon" aria-labeledby="info__uzy-title info__uzy-desc" role="group">
      <title id="info__uzy-title">Użyteczność</title>
      <desc id="info__uzy-desc">Użyteczność strony</desc>
      <use xlink:href="../../assets/img/collection-SVG-sprite.svg#computer-2
      ">
    </svg>
    <{{article-heading-small}}>
      <span itemprop="name">Użyteczność</span>
    </{{article-heading-small}}>
    <p><span itemprop="articleBody">Intuicyjność, skuteczność, kolorystyka i wygoda. Za sukcesem strony WWW stoją badania nad zachowaniem i preferencjami użytkowników.</span></p>
  </article>


  <article class="box" itemscope itemtype="http://schema.org/Article">
    <svg class="info__icon" aria-labeledby="info__dyn-title info__dyn-desc" role="group">
      <title id="info__dyn-title">Dynamiczność</title>
      <desc id="info__dyn-desc">Dynamiczność strony</desc>
      <use xlink:href="../../assets/img/collection-SVG-sprite.svg#arrows
      ">
    </svg>
    <{{article-heading-small}}>
      <span itemprop="name">Dynamiczność</span>
    </{{article-heading-small}}>
    <p><span itemprop="articleBody">Interaktywna i żywo reagująca na działania użytkownika</span></p>
  </article>
  
</section>