  <header class="section__header">
    <{{section-heading}}>Nowoczesność a projektowanie stron internetowych.</{{section-heading}}>
  </header>

  <section class="graph graph--half">
    
    <article class="graph__box graph__text" itemscope itemtype="http://schema.org/Article">
      <header class="article__header">
        <{{article-heading}}  >Użytkownicy stron WWW w 2018 roku to:</{{article-heading}} >
      </header>
      <p>Według analityki Google ...</p>
      <ul>
        <li>
          <p>Globalnie: <span><strong>48.9%</strong></span></p>
        </li>
        <li>
          <p>W Polsce: <span><strong>72.4%</strong>, czyli <strong>27.922.152</strong> osób</span></p>
        </li>
      </ul>
    </article>

    <div class="graph__box graph__img">
      <figure>
        <img src="../../assets/img/uzytkownicy-internetu.jpg" alt="Użytkownicy internetu i stron WWW" title="użytkownicy internetu i stron WWW">
        <figcaption><span itemprop="name">Użytkownicy internetu i stron WWW</span></figcaption>
      </figure>
    </div>

    <a href="#" class="btn--blue" title="Kliknij" role="button" data-open="popup-1">Kliknij by powiększyć</a>

  </section>

  <section class="graph graph--half">

    <article class="graph__box graph__text" itemscope itemtype="http://schema.org/Article">
      <header class="article__header">
        <{{article-heading}}  >Strony internetowe i bariera 50%</{{article-heading}}  >
      </header>
      <p>Ponad połowa odwiedzających strony WWW w 2017 roku to użytkownicy telefonów komórkowych.</p>
      <ul>
        <li>
          <p>Telefony: <span><strong>50.3%</strong></span></p>
        </li>
        <li>
          <p>Komputery: <span><strong>49.7%</strong></p>
        </li>
        <li>
          <p>Wzrasta o <span><strong>5-7%</strong> w skali roku</p>
        </li>
      </ul>
    </article>
    

    <div class="graph__box graph__img"> 
      <figure>
        <img src="../../assets/img/strony-WWW-na-telefonach.jpg" alt="Wyświetlenia stron WWW na telefonach" title="Wyświetlenia stron WWW na telefonach">
        <figcaption><span itemprop="name">Wyświetlenia stron WWW na telefonach</span></figcaption>
      </figure>
    </div>

    <a href="#" class="btn--blue" title="Kliknij" role="button" data-open="popup-2">Kliknij by powiększyć</a>

  </section>

  <section class="graph graph--full">

    <article class="graph__box graph__text"  itemscope itemtype="http://schema.org/Article">
      <header class="article__header">
        <{{article-heading}}  >Telefony a Komputery</{{article-heading}}  >
      </header>
      <p>Użytkownicy stron WWW na telefonach w poszczególnych branżach to od 8% do aż +80% wszystkich użytkowników.</p>
      <ul>
        <li>
          <p>Zdrowie: <span><strong>82%</strong></p>
        </li>
        <li>
          <p>Usługi: <span><strong>72%</strong></span></p>
        </li>
        <li>
          <p>Nieruchomości: <span><strong>55%</strong></span></p>
        </li>
        <li>
          <p>Rozrywka: <span><strong>54%</strong></span></p>
        </li>
        <li>
          <p>Zakupy: <span><strong>50%</strong></span></p>
        </li>
      </ul>

    </article>

    <div class="graph__box graph__img">
      <figure>
          <img src="../../assets/img/uzytkownicy-stron-WWW.jpg" alt="Uzytkownicy stron WWW" title="Uzytkownicy stron WWW">
        <figcaption><span itemprop="name">Uzytkownicy stron WWW</span></figcaption>
      </figure>
    </div>

    <a href="#" class="btn--blue" title="Kliknij" role="button" data-open="popup-3">Kliknij by powiększyć</a>

  </section>

  <p class="message"><strong>Tracisz</strong> nawet <strong>50%</strong> klientów, jeżeli Twoja strona internetowa jest nieprzystosowana do telefonów komórkowych, a ma wysoki % odwiedzających na tych urządzeniach.</p>



<article class="reveal bigger" id="popup-1" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/uzytkownicy-internetu.jpg" alt="Użytkownicy internetu i stron WWW" title="użytkownicy internetu i stron WWW">
</article>

<article class="reveal bigger" id="popup-2" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/strony-WWW-na-telefonach.jpg" alt="Wyświetlenia stron WWW na telefonach" title="Wyświetlenia stron WWW na telefonach">
</article>

<article class="reveal bigger" id="popup-3" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/uzytkownicy-stron-WWW.jpg" alt="Uzytkownicy stron WWW" title="Uzytkownicy stron WWW">
</article>