<h3>Dlaczego Nowoczesność Jest Tak <strong>Istotna</strong>?</h3>
<p>Według analityki Googla...</p>

<div class="graph graph--half">

  <div class="graph__box graph__text">
    <h5>Procent użytkowników internetu w 2018 roku to:</h5>
    <ul>
      <li>
        <h6>Globalnie: <span><strong>48.9%</strong></span></h6>
      </li>
      <li>
        <h6>W Polsce: <span><strong>72.4%</strong>, czyli <strong>27.922.152</strong> osób</span></h6>
      </li>
    </ul>
  </div>

  <div class="graph__box graph__img">
    <img src="../../assets/img/Internet-access.jpg" alt="Graph dostępności internetu na świecie">
  </div>

  <a href="#" class="btn--blue" role="button" data-open="popup-1">Kliknij by powiększyć</a>

</div>

<div class="graph graph--half">

  <div class="graph__box graph__text">
    <h5>Rok 2017 i bariera 50%</h5>
    <p>Telefony wygenerowały więcej ruchu w internecie niż komputery stacjonarne</p>
    <ul>
      <li>
        <h6>Telefony: <span><strong>50.3%</strong></span></h6>
      </li>
      <li>
        <h6>Komputery: <span><strong>49.7%</strong></h6>
      </li>
      <li>
        <h6>Wzrasta o <span><strong>5-7%</strong> w skali roku</h6>
      </li>
    </ul>
  </div>
  

  <div class="graph__box graph__img">
    <img src="../../assets/img/Mobile-vs-desktop.jpg" alt="Telefony i komputery stacjonarne">
  </div>

  <a href="#" class="btn--blue" role="button" data-open="popup-2">Kliknij by powiększyć</a>

</div>

<div class="graph graph--full">

  <div class="graph__box graph__text">
    <h5>Telefony a Komputery</h5>
    <p>Użytkownicy telefonów w poszczególnych branżach to od 8% do aż +80%</p>
    <ul>
      <li>
        <h6>Zdrowie: <span><strong>82%</strong></h6>
      </li>
      <li>
        <h6>Usługi: <span><strong>72%</strong></span></h6>
      </li>
      <li>
        <h6>Nieruchomości: <span><strong>55%</strong></span></h6>
      </li>
      <li>
        <h6>Rozrywka: <span><strong>54%</strong></span></h6>
      </li>
      <li>
        <h6>Zakupy: <span><strong>50%</strong></span></h6>
      </li>
    </ul>

  </div>

  <div class="graph__box graph__img">
    <img src="../../assets/img/Mobile-vs-desktop-search-PL.jpg" alt="Typy stron internetowych">
  </div>

  <a href="#" class="btn--blue" role="button" data-open="popup-3">Kliknij by powiększyć</a>

</div>

<p class="message"><strong>Tracisz</strong> nawet <strong>50%</strong> klientów jeżeli Twoja strona jest nieprzystosowana do telefonów komórkowych a ma wysoki % odwiedzających na tych urządzeniach</p>



<div class="reveal bigger" id="popup-1" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/Internet-access.jpg" alt="Graph dostępności internetu na świecie">
</div>

<div class="reveal bigger" id="popup-2" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/Mobile-vs-desktop.jpg" alt="Telefony i komputery stacjonarne">
</div>

<div class="reveal bigger" id="popup-3" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/Mobile-vs-desktop-search-PL.jpg" alt="Typy stron internetowych">
</div>