  <header class="section__header">
    <{{section-heading}}>Nowoczesność a projektowanie stron internetowych.</{{section-heading}}>
  </header>

  <!-- Section with graphs -->

  <section class="graph">

    <section class="graph__section graph__section--half">

      <article class="graph__box graph__text" itemscope itemtype="http://schema.org/Article">
        <header class="article__header">
          <{{article-heading}}  >Użytkownicy stron WWW w 2018 roku to:</{{article-heading}} >
        </header>
        <p>Według analityki Google ...</p>
        <ul>
          <li>
            <p>Globalnie: <span><span class="bold">48.9%</span></span></p>
          </li>
          <li>
            <p>W Polsce: <span><span class="bold">72.4%</span>, czyli <span class="bold">27.922.152</span> osób</span></p>
          </li>
        </ul>
      </article>
  
      <div class="graph__box graph__img">
        <figure>
          <img src="../../assets/img/uzytkownicy-internetu.jpg" alt="Użytkownicy internetu i stron WWW" title="użytkownicy internetu i stron WWW">
          <figcaption><span itemprop="name">Użytkownicy internetu i stron WWW</span></figcaption>
        </figure>
      </div>
  
      <button class="btn btn--blue">
        <a href="#" class="" title="Kliknij" role="button" data-open="popup-1">Kliknij by powiększyć</a>
      </button>
  
    </section>
  
    <section class="graph__section graph__section--half">
  
      <article class="graph__box graph__text" itemscope itemtype="http://schema.org/Article">
        <header class="article__header">
          <{{article-heading}}  >Strony internetowe i bariera 50%</{{article-heading}}  >
        </header>
        <p>Ponad połowa odwiedzających strony WWW w 2017 roku to użytkownicy telefonów komórkowych.</p>
        <ul>
          <li>
            <p>Telefony: <span><span class="bold">50.3%</span></span></p>
          </li>
          <li>
            <p>Komputery: <span><span class="bold">49.7%</span></p>
          </li>
          <li>
            <p>Wzrasta o <span><span class="bold">5-7%</span> w skali roku</p>
          </li>
        </ul>
      </article>
      
  
      <div class="graph__box graph__img"> 
        <figure>
          <img src="../../assets/img/strony-WWW-na-telefonach.jpg" alt="Wyświetlenia stron WWW na telefonach" title="Wyświetlenia stron WWW na telefonach">
          <figcaption><span itemprop="name">Wyświetlenia stron WWW na telefonach</span></figcaption>
        </figure>
      </div>
  
      <button class="btn btn--blue">
        <a href="#" class="" title="Kliknij" role="button" data-open="popup-2">Kliknij by powiększyć</a>
      </button>
  
    </section>
  
    <section class="graph__section graph__section--full">
  
      <article class="graph__box graph__text"  itemscope itemtype="http://schema.org/Article">
        <header class="article__header">
          <{{article-heading}}  >Telefony a Komputery</{{article-heading}}  >
        </header>
        <p>Użytkownicy stron WWW na telefonach w poszczególnych branżach to od 8% do aż +80% wszystkich użytkowników.</p>
        <ul>
          <li>
            <p>Zdrowie: <span><span class="bold">82%</span></p>
          </li>
          <li>
            <p>Usługi: <span><span class="bold">72%</span></span></p>
          </li>
          <li>
            <p>Nieruchomości: <span><span class="bold">55%</span></span></p>
          </li>
          <li>
            <p>Rozrywka: <span><span class="bold">54%</span></span></p>
          </li>
          <li>
            <p>Zakupy: <span><span class="bold">50%</span></span></p>
          </li>
        </ul>
  
      </article>
  
      <div class="graph__box graph__img">
        <figure>
            <img src="../../assets/img/uzytkownicy-stron-WWW.jpg" alt="Uzytkownicy stron WWW" title="Uzytkownicy stron WWW">
          <figcaption><span itemprop="name">Uzytkownicy stron WWW</span></figcaption>
        </figure>
      </div>
  
      <button class="btn btn--blue">
        <a href="#" class="" title="Kliknij" role="button" data-open="popup-3">Kliknij by powiększyć</a>
      </button>
  
    </section>
  
    <p class="message"><span class="bold">Tracisz</span> nawet <span class="bold">50%</span> klientów, jeżeli Twoja strona internetowa jest nieprzystosowana do telefonów komórkowych, a ma wysoki % odwiedzających na tych urządzeniach.</p>
  </section>



<article class="reveal bigger" id="popup-1" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/uzytkownicy-internetu.jpg" alt="Użytkownicy internetu i stron WWW" title="użytkownicy internetu i stron WWW">
</article>

<article class="reveal bigger" id="popup-2" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/strony-WWW-na-telefonach.jpg" alt="Wyświetlenia stron WWW na telefonach" title="Wyświetlenia stron WWW na telefonach">
</article>

<article class="reveal bigger" id="popup-3" data-reveal>
  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="../../assets/img/uzytkownicy-stron-WWW.jpg" alt="Uzytkownicy stron WWW" title="Uzytkownicy stron WWW">
</article>