<h3>Wysoka Jakość</h3>
<p>Wysoka jakość strony internetowej wymaga wysokiej jakości kodu źródłowego</p>
<p>Narzędzia, z którymi pracuję</p>

<div class="tasks">

  <figure>
    <img src="../../assets/img/html5.png" alt="Ikona języka programowania HTML">
    <figcaption>HTML5</figcaption>
  </figure>

  <figure>
    <img src="../../assets/img/css3.png" alt="Ikona języka programowania CSS">
    <figcaption>CSS3</figcaption>
  </figure>

  <figure>
    <img src="../../assets/img/javascript.png" alt="Ikona języka programowania Javascript">
    <figcaption>Javascript</figcaption>
  </figure>

  <figure>
    <img src="../../assets/img/foundation.png" alt="Ikona frameworku Foundation">
    <figcaption>Foundation</figcaption>
  </figure>

  <figure>
    <img src="../../assets/img/bootstrap.png" alt="Ikona frameworku Bootstrap">
    <figcaption>Bootstrap</figcaption>
  </figure>

  <figure>
    <img src="../../assets/img/sass.png" alt="Ikona preprocesora CSS Sass">
    <figcaption>Sass</figcaption>
  </figure>

  <figure>
    <img src="../../assets/img/gulp.png" alt="Ikona narzędzia do automatyzacji zadań Gulp">
    <figcaption>Gulp</figcaption>
  </figure>

  <figure>
    <img src="../../assets/img/ux.png" alt="Ikona User Experience">
    <figcaption>UX Design</figcaption>
  </figure>

</div>


