.footer {
  width: 100%;
  background-color: $primary-color;
  
  .social-media {
    @include xy-grid;
    @include xy-cell();
    @include xy-grid-collapse;
    width: 100%;
    justify-content: center;
    padding: rem-calc(10) 0;

    .social__icon {
      height: rem-calc(45);
      width: rem-calc(45);
      margin: rem-calc(5) rem-calc(10);
      fill: $white;
      transition: fill .5s ease;

      &:hover {
        fill: rgba($secondary-color, .99);
      }

      use {
        display: inline-block;
        margin: rem-calc(2) rem-calc(5);
      }
    }

  }

  p,a, div {
    color: rgba($light-gray, .25);
    text-align: center;

    span {
      display: inline-block;
      margin: rem-calc(2);
    }
  }

  a {
    text-decoration: underline;
  }

  div {
    @include xy-cell();
  }

}